name: Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cargo-fmt:
    name: Cargo Fmt, Clippy and Udeps
    runs-on: ubuntu-latest
    env:
      CARGO_FEATURES: leap-seconds-provider-builtin-iers,std,
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
      - run: rm -rf ~/.cargo/bin
      - run: nix-shell --pure --run "cargo fmt --all --features $CARGO_FEATURES -- --check"
      - run: nix-shell --pure --run "cargo clippy --all --features $CARGO_FEATURES -- -D warnings"
      - run: nix-shell --pure --run "cargo udeps --all-targets --features $CARGO_FEATURES"

  cargo-tests:
    name: Cargo Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feat-leap-seconds-provider: ["leap-seconds-provider-builtin-iers,"]
        feat-std: ["std,", ""]
    env:
      CARGO_FEATURES: ${{ matrix.feat-leap-seconds-provider }}${{ matrix.feat-std }}
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
      - run: nix-shell --pure --run "cargo build --all --features $CARGO_FEATURES"
      - run: nix-shell --pure --run "cargo test --all --features $CARGO_FEATURES"
      - run: nix-shell --pure --run "cargo doc --all --features $CARGO_FEATURES"