name: Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cargo-fmt:
    name: Cargo Fmt, Clippy and Udeps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
      - run: rm -rf ~/.cargo/bin
      - run: nix-shell --pure --run 'cargo fmt --all -- --check'
      - run: nix-shell --pure --run 'cargo clippy --all --all-features -- -D warnings'
      - run: nix-shell --pure --run 'cargo udeps --all-targets'

  cargo-tests:
    name: Cargo Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        leap-seconds-provider: ["leap-seconds-provider-builtin-iers,"]
        no-std: ["no-std,", ""]
    env:
      CARGO_FEATURES: ${{ matrix.leap-seconds-provider }}${{ matrix.no-std }}
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
      - run: nix-shell --pure --run "cargo build --all --features $CARGO_FEATURES"
      - run: nix-shell --pure --run "cargo test --all --features $CARGO_FEATURES"
      - run: nix-shell --pure --run "cargo doc --all --features $CARGO_FEATURES"